<%= content_tag :div, class: "nested-fields", data: { new_record: form.object.new_record? } do %>
  <div class="form-group">
    <%= form.label :book_format %>
    <%= form.select :book_format, options_for_select(BookCopy.book_formats.map {|k, v| [k.humanize.capitalize, k]})  %>

    <%= form.label :file %>
    <%= form.file_field  :file %>
    <small><%= link_to "Remove", "#", data: { action: "click->nested-form#remove_association" } %></small>
  </div>

  <%= form.hidden_field :_destroy %>
<% end %>